@use "sass:math";
//Контейнер
$content-width-figma: 1145; //Ширина контейнера в фигме
$container-offset: 20; //Отступы безопасности
$container-width: $content-width-figma + ($container-offset * 2);

//Цвета

$color-primary: #403930;
$color-secondary: #594f43;
$color-light: #f3f2ff;

$color-accent: #ffeed9;
$color-accent-dark: #ffddbf;
$color-accent-light: #fff9f2;
$color-accent-blue: #4e5e80;

$color-white: #fff;
$color-black: #000;


$font-family: "Work Sans", sans-serif;
$font-size: rem(20);
$font-weight: 600;
$font-color: $color-primary;

//Размеры
$site-min-width: 320px;
$site-max-width: 1920; // Нужен для работы адаптивного свойства
