.about-me {
   background-color: $color-accent-dark;
   // .about-me__wrapper
   &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include pc_992 {
         flex-direction: column;
      }
   }

   // .about-me__left
   &__left {
      flex: 0 0 rem(460);
      @include ad-value(padding-top, 94, 30, 1);
      @include ad-value(padding-bottom, 94, 30, 1);
      @include pc_992 {
         flex: 1 1 auto;
      }
   }

   // .about-me__title
   &__title {
      margin-bottom: rem(15);
   }

   // .about-me__text
   &__text {
      font-weight: 500;
      font-size: rem(20);
      line-height: calc((30 / 20) * 100%);
      margin-bottom: rem(40);
      color: $color-secondary;

      p {
         display: block;

         &:not(:last-child) {
            margin-bottom: rem(10);
         }
      }

      @include pc_768 {
         font-size: rem(16);
      }
   }

   // .about-me__contact
   &__contact {
   }

   // .about-me__right
   &__right {
   }
}
