.nav {
   @include pc_768 {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: $color-white;
      padding-top: rem(100);
      text-align: center;
      transform: translateX(100%);
      transition: transform .2s ease-in-out;
   }

   &._open {
      transform: translateX(0);
   }

   &__list {
      @include mb_768 {
         display: flex;
         align-items: center;
      }
   }

   &__item {
      @include mb_768 {
         &:not(:last-child) {
            margin-right: rem(32);
         }
      }
      @include pc_768 {
         margin-bottom: rem(20);
      }
   }

   &__link {
      font-size: rem(20);
      line-height: calc((30 / 20) * 100%);
      color: $color-secondary;
      @include pc_768 {
         font-size: rem(32);
      }
   }
}
